div#google_app {
	border: 1px solid #ccc;
	padding: 10px;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	background-color: #efefef;
	color: #444;
	margin-top: 30px;
	margin-bottom: 30px;
}

dl {
    margin-bottom:50px;
}
 
dl dt {
    background:#5f9be3;
    color:#fff;
    float:left;
    font-weight:bold;
    margin-right:10px;
    padding:5px; 
    width:100px;
}
 
dl dd {
    margin:2px 0;
    padding:5px 0;
}